doctype html
html
  head
    title This is a Photo Gallery
    meta(name="description" title="This Gallery is Awesome!!")
    link(rel="stylesheet" href="/style.css")
  body
    table
      tr
        th 
        h1 Amazing pictures below
        td.current-img 
      tr
        td
          img.thumbnail(src="/asset/image/pexels-photo-167636.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-228183.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-750108.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-753873.jpeg")
      tr
        td
          img.thumbnail(src="/asset/image/pexels-photo-775998.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-1070981.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-1181271.jpeg")
        td
          img.thumbnail(src="/asset/image/pexels-photo-1406822.jpeg")
  script(src="/asset/js/main.js")